.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header_logo>img{
    width: 200px;
    height: auto;
}

.header_text {
    display: flex;
    flex-flow: row wrap;
}

.header_text>div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 200;
}

.news>div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
}

