.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header_logo>img{
    width: 200px;
    height: auto;
}

.header_text {
    display: flex;
    flex-flow: row wrap;
}

.header_text>div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
}

.main_picture {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main_picture>img {
    width:70%;
    height: auto;
}

.news>div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

