@media screen and (max-width: 1000px) {
    .main_shape {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 95%;
        height: 600px;
        margin-bottom: 40px;
        margin-left: 4%;
        background-color: #ececec;
    }

    .header_text>div{
        display: none;
    }
}

.content {
    a
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.header_logo>img {
    width: 200px;
    height: auto;
}

.header_text {
    display: flex;
    flex-flow: row wrap;
}

.header_text>div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 200;
}

.banner {
    margin: auto;
    margin-bottom: 30px;
}

.main_shape {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 95%;
    height: 600px;
    margin-bottom: 40px;
    margin-left: 4%;
    background-color: #ececec;
}

.main_text_box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 50px;
    width: 50%;
}

.large_text {
    font-family: "NoeDisplay", serif;
    color: #015089;
    font-size: 66px;
    font-weight: 800;
    max-width: 70%;
    margin-bottom: 50px;
}

.small_text {
    font-size: 24px;
    font-weight: 200;
    color: #54585A;
}

.logo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 40%;
    height: auto;
    position: relative;
    top: 50%;
    margin-top: -150px;
}

.logo>img {
    height: 100px;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}


.content_shape {
    width: 80%;
    height: auto;
    min-height: 250px;
    background-color: #749EBD;
    clip-path: polygon(0 0, 0 100%, calc(100% - 144.34px) 100%, 100% 0);
    margin-left: -1px;
    margin-bottom: 50px;
}

.shape_text_area {
    width: 70%;
    margin-left: 30px;
}

.news_title {
    font-family: "NoeDisplay", serif;
    color: white;
    font-size: 48px;
    font-weight: 800;
    margin-top: 4%;
    margin-left: 5%;
}

.news_subtext {
    font-family: europa, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.footer {
    height: 50px;
    width: 105%;
    background-color: aliceblue;
    margin-bottom: -10px;
}

.footer_box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: auto;
    max-width: 40%;
}

.footer_text {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: grey;
    margin-top: 20px;
    margin-left: 60px;
}